*{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Belanosima', sans-serif;
}

h2{
   font-family: 'Belanosima', sans-serif;
}

.container {
    text-align: center;
    color: #00425A  ;
  }

 .container-fluid {
    background-color: #1F8A70;
    height: 80px;
 }

 .nav-link {
    color: #FC7300 ;
 }
 #formulario {
    
    color: #eff5f5;
    background-color: #00425A ;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
          
}

label {

    font-size: 20px;
    margin-left: 10px;

}

input {
    
    font-size: 1.2rem;
    text-align: left;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 1rem;
    padding: 1rem;

}

textarea {

    font-size: 1.2rem;
    text-align: justify;
    width: 320px;
    height: 200px;
    margin-left: 1rem;
    border: 0px solid;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;

}

.boton {

    color: #eff5f5;
    background-color: #181823;
    width: 200px;
    height: 45px;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 5rem;
}

#piePagina{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    background-color: #FC7300  ;
    color: #EFF5F5 ;
}
#piePagina h2{
text-align: center;
padding: 20px;
}

ul{
    list-style-type: none;
}

#redesSociales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
ion-icon{
    color: white;
    font-size: 2rem;
}
